/* Desktop Menu */
@import "../../modules/_base.scss";
.d-menu{
    width:100%;
    @include px2rem(height, 36px);
    background-color:$bg-alt;
    position:relative;
    z-index:1000;
    box-sizing:border-box;
    @include transition-property(background-color);
    @include transition-duration(.3s);
    @include transition-timing-function(ease);


    @media(min-width:$menu-breakpoint){
        @include px2rem(height, 90px);
    }
}

.d-menu__wrap{//убираем в моб.версии
    display:none;
    @media(min-width:$menu-breakpoint){
        display:block;
    }
}

.scrolled .d-menu{//будем уменьшать прозрачность фона десктоп-меню при скролле контента. Не используем opacity - переход происходит "скачками"
    background-color:rgba($bg-alt, .9);
    &:hover{
        background-color:$bg-alt;
    }
}

.fixed .d-menu{
    position:fixed;
    top:0; left:0;
}

.d-menu--hero{ //на главной странице покажем только на десктопе
    display:none;
    @media(min-width:$menu-breakpoint){
        display:block;
    }
}

.d-menu__inner{
    @extend .g-container;
}
.menu{
    @extend .g-clearlist;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-align-last: justify;
    display:none;

    &:after{
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }

    @media(min-width:$menu-breakpoint){
        display:block;
    }

    &.hover{//ховер-эффект
        .menu__link{
            opacity:.2;
        }
    }
}



.menu__item{
    display:inline-block;
    vertical-align: top;
    line-height:100%;
    @include font-size(18px);
}
.menu__link{
    display:block;
    @include px2rem(height, 90px);
    @include px2rem(line-height, 90px);
    text-decoration:none;
    white-space:nowrap;
    color:$text-color;
    @include transition(opacity .3s ease);

    &:hover,
    &:active{
        opacity:1 !important;//при наведении текущий пункт не меняет прозрачности
    }
}
.menu__link--current{
    color:$primary;
    cursor:default;
}



/*Menu Logo*/
.menu__logo{//покажем только на маленьких экранах
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    float:left;

    @media(min-width:$menu-breakpoint){
        display:none;
    }
}