/* Desktop Menu */
@import "../../modules/_base.scss";
.menu{
    @include px2rem(margin-bottom, 8px);
    line-height:100%;
    font-size:0; // Kill white space gap between LI elements
    position:relative;
    z-index:1000;
    @extend .g-clearfix;
    @extend .g-clear-list;
    box-sizing:border-box;
    display:none;
    @include media(min-width $menu-breakpoint){
        display:block;
    }
}

.menu__item{
    display:inline-block;
    position:relative;
    line-height:inherit;
	top:0;left:0;
    @include font-size($project-font-size);
}

.menu__item--right{
    float:right;
}

.menu__link{
    display:inline-block;
    position:relative;
    line-height:100%;
    top:0;left:0;
    @include px2rem(padding, $project-line-height/2 20px);
	text-decoration:none;
	color: $text-color;

    &:hover,
    &:active,
    &.hover{
        background:#f2f2f2;
    }
}

.submenu{
    @extend .g-clear-list;
    position: absolute;
    top:100%;left:0;
    display:none;
    background:#fff;
    box-sizing:border-box;
    @include px2rem(min-width, 150px);

    .submenu{
        top:0;
        left:100%; 
        box-sizing:border-box;
    }
}
.submenu__item{
    display:block;
    position:relative;
    width:100%;
}
.submenu__link{
    display:block;
    @extend .menu__link;
}


/* mobile menu styles */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: $menu-breakpoint - 1px) {
	.js .slicknav_menu {
		display:block;
	}
}
