@import "../../modules/_base.scss";
/*Catalog Filters*/
.c-filter__label{
    display:block;
    @include px2rem(margin-bottom, $project-line-height);
    @include font-size(12px);
    text-transform:uppercase;
}
.c-filter__input{
    @extend .g-input;
}
.c-filter__select{
    @extend .g-select;
}

.c-filter__input,
.c-filter__select{
    display:block;
    width:100%;
    @include px2rem(margin-bottom, 38px);
    @include font-size(12px);
}

