@import "../../modules/_grid.scss";
/*Grid blocks*/
.grid{
    list-style-type:none;
    padding:0;
    @include px2rem(margin-left, -11px);
    @include px2rem(margin-right, -11px);
    @extend .g-clearfix;
}
.grid__item{
    float:left;
    box-sizing:border-box;
    @include px2rem(padding, 11px);
    min-height:1px;
    width:100%;

    @include media($mobile){
        width:50%;
    }

    @include media($tablet){
        width:(100%)/3;
    }
}
.grid__link{
    display:block;
    background:$bg-alt;
    position:relative;
    overflow:hidden;
    color:$text-color;
    text-decoration:none;

    &:after{
        content:'';
        display:block;
        padding-bottom:100%;
    }
}
.grid__wrap{
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:0;

    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; left:0; right:0; bottom:0;
        background:rgba(#000, .4);
        z-index:1;
        opacity:0;
    }
}
.grid__img{
    @extend .g-img-centered;
    opacity:0;
}
.grid__num{
    @include font-size(72px);
    color:$primary;
    line-height:1;
    position:absolute;
    @include px2rem(top, 18px);
    @include px2rem(left, 18px);
    z-index:2;
}
.grid__title{
    position:absolute;
    @include px2rem(left, 18px);
    @include px2rem(right, 18px);
    @include px2rem(bottom, 18px);
    @include font-size(24px);
    line-height:1.1;
    z-index:2;

    @include media($mobile){
        @include font-size(16px);
    }

    @include media($desktop){
        @include font-size(24px);
    }
}


/*Grid Blocks Hover*/
.grid__img,
.grid__wrap:before{
    @include transition(opacity 0.7s ease);
}
.grid__img{
    @include transition(transform 4s ease-in);
}
.grid__num,
.grid__title{
    @include transition(color 0.7s ease);
}

.grid__link{
    &:hover,
    &:active{
        outline:0;
        .grid__img{
            opacity:1;
            @include transform(scale(1.2));
        }
        .grid__wrap:before{
            opacity:1;
        }
        .grid__num,
        .grid__title{
            color:#fff;
        }
    }
}

.lt-ie9{
    .grid__img{
        display:none;
    }
    .grid__link{
        &:hover,
        &:active{
            background:#bbb;
        }
    }
}