@import "../../modules/_base.scss";
/*Page Section*/
.p-section{
    @include px2rem(padding, 54px 0);

    @media (min-width:$tablet){
        @include px2rem(padding, 72px 0);
    }
}
.p-section--alt{
    background:$bg-alt;
}

.p-section--thin{
    @include px2rem(padding, 27px 0);
}

.p-section__title{
    @include px2rem(margin-bottom, 36px);
    @include font-size(12px);
    line-height:1.8;
    color:$primary;
    font-family:$font-base;
    text-align:center;
    text-transform:uppercase;
}
/*Page Section Divider*/
.p-divider{
    background:$bg-alt;
    text-align:center;
}

.p-divider__title{
    margin:0;
    @include px2rem(padding, 30px 0);
    @include font-size(12px);
    font-family:$font-base;
    text-transform:uppercase;
    line-height:1;

    @include media($tablet){
        @include px2rem(padding, 39px 0);
    }
}

.p-divider--alt{
    background:#fff;
    .p-divider__title{
        @include media($tablet){
            @include px2rem(padding, 84px 0 48px);
        }
    }
}

/*Page Section News*/
.p-section--news{
    @extend .p-section--alt;
    @extend .p-section--thin;
    position:relative;
}