@import "../../modules/_base.scss";
/*Header Hero Section*/
.hero{
    width:100%;
    @include px2rem(padding-top, 54px);//в этом отступе расположен блок lang с абс.позиционированием
    position:relative;
    box-sizing:border-box;

    &:before{
        content:'';
        position:absolute;
        top:0; right:50%;
        bottom:0; left:0;
        background:$primary;
        z-index:-1;
        display:none;//заливка половины экрана бронзовым цветом. На маленьких экранах она не нужно

        @include media($tablet){//сложили сетку - залили левую половину блока бронзой 
            display:block;
        }
    }
}

.hero__wrap{
    @include media($tablet){//эмулируем таблицу, чтобы выровнять лого и цитату по высоте
        display:table;
        width:100%;
        max-width:em(940);
        margin:0 auto;
        table-layout:fixed;
    }
}

.hero__item{
    @include px2rem(margin-bottom, $project-line-height);
    box-sizing:border-box;

    @include media($tablet){
        display:table-cell;
        vertical-align:middle;
        width:50%;
        margin:0;
    }
}
.hero__item--left{
    background:$primary;
    color:#fff;
}
.hero__item--right{
    @include px2rem(padding, 0 20px);
    @include media($tablet){
        @include px2rem(padding, 0 10px);
    }
}

/*Hero About Section*/
.h-about{
    @include px2rem(max-width, 400px);
    @include px2rem(margin, 50px auto);
    @include px2rem(padding, 50px 20px);
    box-sizing:border-box;
    border:3px solid $primary;
    position:relative;   
}
.h-about__title{
    display:inline-block;
    @include px2rem(width, 180px);
    font-family:$font-title;
    color:$primary;
    @include font-size(36px);
    line-height:1;
    text-align:center;
    background:#fff;
    position:absolute;
    @include px2rem(top, -18px);
    left:50%;
    @include px2rem(margin-left, -90px);
}

.h-about__quote{
    @include font-size(18px);
    line-height:1.5;
    text-align:center;
    @include media($desktop){
        @include font-size(24px);
    }
}
