@import "../../modules/_base.scss";

/*Header Hero Logo*/
.logo{
    margin:0;
    text-align:center;
}
.logo__img{
    @include px2rem(margin-bottom, 54px);
}
.logo__title{
    @include font-size(36px);
    text-transform:uppercase;
}

