@import "../../modules/_base.scss";
/*Quotes Slider*/
.q-slider{
    position:relative;
}
.q-slider__list{
    @extend .g-clearlist;
}
/*Slider Arrows*/
.q-slider__arrow{
    @extend .p-slider__arrow;
}
.q-slider__arrow--left{
    @extend .p-slider__arrow--left;
    .bx-prev{
        background-image:url(../img/arrow-slider-left-dark.svg);
    }    
}
.q-slider__arrow--right{
    @extend .p-slider__arrow--right;
    .bx-next{
        background-image:url(../img/arrow-slider-right-dark.svg);
    }    
}

.no-svg{
    .q-slider__arrow--left{
        .bx-prev{
            background-image:url(../img/arrow-slider-left-dark.png);
        }
    }
    .q-slider__arrow--right{
        .bx-next{
            background-image:url(../img/arrow-slider-right-dark.png);
        }
    }
}