@import "../modules/base";
@import "header/_lang.scss"; //блок с переключалками языка + кнопка моб-меню (стили самой кнопки - в папке Меню)
@import "header/_hero.scss"; //топ-блок на главной странице
@import "header/_logo.scss";

.header{
    width:100%;
}
.header--hero{
    position:relative;
}


#page.fixed-d-menu{
    @include px2rem(padding-top, 36px);
    @media (min-width:$menu-breakpoint){
        @include px2rem(padding-top, 90px);
    }

    .header{
        position:fixed;
        top:0; left:0;
        z-index:1000;
    }
}

