@import "../modules/_base.scss";


@import "page/_page-section.scss";
@import "page/_feature.scss"; //блоки услуг на главной странице
@import "page/_step.scss";  //блоки услуг на главной странице (под диаграммой)
@import "page/_counter.scss";//счетчики
@import "page/_block-grid.scss"; //блоки "Почему Мы" на главной
@import "page/_random-grid.scss"; //блоки новостей
@import "page/graph/_graph.scss"; //диаграмма на главной странице
@import "page/_p-filter.scss"; //фильтры новостей (категории)
@import "page/_single-post.scss"; //новость
@import "page/_portfolio.scss"; //страница портфолио



@import "page/_scroll-up.scss";//кнопка скролла страницы
@import "page/_seo-block.scss";//сео-блок страницы

