@import "_base.scss";
/*Animations*/
.animated {
    @include animation-duration(1s);
    @include animation-fill-mode(both);
    visibility:visible !important;
}

.animate{
    visibility:visible;
    @include media($desktop){
        visibility:hidden;
    }
}
.no-js,
.no-cssanimations{
    .animate{
        visibility:visible;
    }
}

@include keyframes(fadeInUp){
    0%{
        opacity:0;
        @include transform(translate3d(0, 7%, 0));
    }
    100%{
        opacity:1;
        @include transform(none);
    }
}


.fadeInUp {
    @include media($desktop){
        @include animation-name(fadeInUp);
    }
}
