@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    @include px2rem(height, 38px);
    @include px2rem(padding, 0 30px);
    color:#fff;
    text-align: center;
    @include font-size(14px);
    @include px2rem(line-height, 38px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: $primary;
    border-radius:$border-radius;
    border: 1px solid $primary;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        background-color:darken($primary, 10%);
        outline:0;
    }
}


/*Styled button */
.p-btn{
    display:inline-block;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 38px);
    @include px2rem(padding, 0 10px);
    border:1px solid $primary;
    text-decoration:none;
    text-transform:uppercase;
    white-space:nowrap;
    @include font-size(14px);
    background:#fff;
    position:relative;
    box-sizing:border-box;

    &:before,
    &:after{
        content:'';
        display:block;
        position:absolute;
        top:0; bottom:0;
        background-repeat:repeat-x;
        @include transition(background-position .4s ease-out)
    }

    &:before{
        @include px2rem(left, 10px);
        background-image:url(../img/arrow-right.svg);
        background-position:right center;
    }
    &:after{
        @include px2rem(right, 10px);
        background-image:url(../img/arrow-left.svg);
        background-position:left center;
    }

    &:hover,
    &:active{
        outline:0;
        
        &:before{
            background-position:left center;
        }
        &:after{
            background-position:right center;
        }
    }


    @include media($tablet){
        @include px2rem(padding, 0 110px);
        &:before,
        &:after{
            @include px2rem(width, 90px);
        }
    }
}

.no-svg .p-btn{
    &:before{
        background-image:url(../img/arrow-right.png);
    }
    &:after{
        background-image:url(../img/arrow-left.png);
    }
}

.p-btn__inner{
    display:block;
    @include px2rem(height, 34px);
    position:relative;

    &:before,
    &:after{
        content:'';
        position:absolute;
        top:0; bottom:0;
        @include px2rem(width, 80px);
        z-index:1;
        display:none;
    }
    &:before{
        left:0;
        @include px2rem(margin-left, -80px);
        @include radial-gradient(circle at 100% 50%, #fff, rgba(#fff, .1));
    }
    &:after{
        right:0;
        @include px2rem(margin-right, -80px);
        @include radial-gradient(circle at 0% 50%, #fff, rgba(#fff, .1));
    }

    @include media($desktop){
        &:before,
        &:after{
            display:block;
        }
    }
}

/*Dark Gray Button*/
.p-btn--dark{
    background:$bg-alt;

    .p-btn__inner{
        &:before{
            @include radial-gradient(circle at 100% 50%, $bg-alt, rgba($bg-alt, .1));
        }
        &:after{
            @include radial-gradient(circle at 0% 50%, $bg-alt, rgba($bg-alt, .1));
        }
    }
}


/*Styled button without text*/
.p-btn--short{
    @include px2rem(width, 220px);
    padding:0;
    @include hide-text;

    &:before{
        width:auto;
        right:50%;
    }
    &:after{
        width:auto;
        left:50%;
    }

    .p-btn__inner{
        position:absolute;
        height:auto;
        top:2%; right:2%; bottom:2%; left:2%;
        @include radial-gradient(circle at 50% 50%, #fff, rgba(#fff, .1), rgba(#fff, .1));
        z-index:1;
        &:before,
        &:after{
            display:none;
        }
    }

    &:hover{
        .p-btn__inner{
            @include radial-gradient(circle at 50% 50%, rgba(#fff, .1) 10%, #fff 100%, rgba(#fff, .1));
        }
    }
}


