@import "base";
html,
button,
input,
select,
textarea {
    color: $text-color;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* Base Styles */
html{
    font-size:1em;
    height:100%;
}

body{
    width: 100%;
    height: 100%;
    line-height:strip-units($project-line-height/$project-font-size);
    font-family: $font-base, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    color: $text-color;
}

/* Typography*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  @include px2rem(margin-bottom, $project-line-height);
  line-height:strip-units($project-line-height/16);
  font-weight:400;
}

.g-title{
    font-family:$font-base;
    @include font-size(12px);
    text-transform:uppercase;
    text-align:center;
}

.g-title-h1,
.g-title-h2{
    display:block;
    @include px2rem(margin-bottom, $project-line-height);
    line-height:strip-units($project-line-height/16);
    font-family:$font-title;
    text-transform:uppercase;
}

.g-title-h1{
    @include font-size(24px);
}
.g-title-h2{
    @include font-size(18px);
}

.g-subtitle{
    display:block;
    @include px2rem(margin-bottom, 2*$project-line-height);
    @include font-size(14px);
    color:$primary;
    text-transform:uppercase;
}

.g-brand-color{
    color:$primary;
}

b,
strong{
    font-family:$font-bold;
    font-weight:700;
}

/* Links */
a {
  color: $primary; }


/* Lists */
ul {
    list-style: disc outside; }
ol {
    list-style: decimal outside; }
ol, ul {
    margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
    @include px2rem(margin, $project-line-height/2 0 $project-line-height/2 30px);
}

.g-clearlist{
    list-style-type:none;
    margin:0;
    padding:0;
}

/* Blockquote */
blockquote{
    font-style:normal;
    @include font-size(18px);
    text-align:center;
    @include media($desktop){
        @include font-size(24px);
    }
}
cite{
    display:block;
    @include px2rem(margin-top, $project-line-height);
    font-family:$font-title;
    font-style:normal;
    @include font-size(18px);
}
.g-quote-num{
    display:block;
    @include px2rem(margin, $project-line-height 0);
    @include font-size(12px);
    color:$primary;
    text-align:center;
}


/* Spacing */
p {
  margin-top: 0; }

button,
.g-btn {
    @include px2rem(margin-bottom, $project-line-height/2);
}
input,
textarea,
select,
fieldset {
    @include px2rem(margin-bottom, $project-line-height/2);
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol{
    @include px2rem(margin-bottom, $project-line-height);
}

/* Misc */
hr {
    @include px2rem(margin, $project-line-height 0);
    border-width: 0;
    border-top: 1px solid $primary;
}

.g-spacer{
    @include px2rem(height, 2*$project-line-height);
    @extend .g-clearfix;
}

/* Transitions */
a, button, input[type="button"], input[type="submit"],
#{$all-text-inputs}, select{
    @include transition-property(border-color,color,background-color);
    @include transition-duration(.1s);
    @include transition-timing-function(ease-in);
}


/*Helper classes*/
.g-hidden {
    display: none !important;
    visibility: hidden;
}

.g-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.g-invisible {
    visibility: hidden;
}

.g-clearfix{
    @include clearfix; //bourbon clearfix
}
.lt-ie9{
    .g-clearfix{
        @include clear-fix();
    }
}